{% extends "base.html"%}
{% load extra_tags %}
{% block head %}
    <link rel="stylesheet" href="/static/css/order.css" />
    <link rel="stylesheet" href="/static/css/orderlist.css" />
{% endblock %}

{% block header %}
    <div class="header-in">
        <b>{{ title }}</b>
    </div>
{% endblock %}

{% block center %}
    <div class="center-in">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <a href="{% url 'order:orderlist' %}" class="btn btn-default">订单列表</a>
                <a href="{% url 'order:orderdetail' %}?pk={{ order.pk }}" class="btn btn-default">订单详情</a>
            </div>
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7"></div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                {% if order.o_pp_all_end == True %}
                    {% if order.o_productionschedule.ps_end %}
                        <a href="{% url 'order:endorder' %}?pk={{ order.pk }}" class="btn btn-default">结束订单</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="ten_space"></div>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="text" name="pk" id="pk" value="{{ order.pk }}" hidden>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>客户名</span>
                        </span>
                        <select class="form-control" id="c_name" name="c_name" onchange="customer_info()">
                            {% if order.o_customer %}
                                <option selected disabled>{{ order.o_customer.c_name }}</option>
                            {% else %}
                                <option selected disabled>请选择客户</option>
                            {% endif %}
                            {% for customer in customers %}
                                <option value="{{ customer.c_contack }},{{ customer.c_email }},{{ customer.pk }}">{{ customer.c_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>联系人</span>
                        </span>
                        <input type="text" id="c_contack" name="c_contack" {% if order.o_customer %}placeholder="{{ order.o_customer.c_contack }}"{% endif %} class="form-control" disabled />
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>联系人邮件</span>
                        </span>
                        <input type="text" id="c_email" name="c_email" {% if order.o_customer %}placeholder="{{ order.o_customer.c_email }}"{% endif %} class="form-control" disabled />
                    </div>
                </div>
            </div>
            <div class="ten_space"></div>

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>客人款号</span>
                        </span>
                        <input type="text" id="o_customer_number" name="o_customer_number" {% if order.o_customer_number %}placeholder="{{ order.o_customer_number }}"{% endif %} class="form-control">
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>下单日期</span>
                        </span>
                        <input type="text" id="o_date" name="o_date" {% if order.o_date %}placeholder="{{ order.o_date }}"{% endif %} class="form-control form_datetime" autocomplete="off">
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>业务员</span>
                        </span>
                        <select class="form-control" id="user" name="user">
                            {% if order.o_user %}
                                <option selected disabled>{{ order.o_user.u_name }}</option>
                            {% else %}
                                <option selected disabled>请选择业务员</option>
                            {% endif %}
                            {% for user in users %}
                                <option value="{{ user.pk }}">{{ user.u_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="ten_space"></div>

            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>颜色</span>
                        </span>
                        <span class="form-control">
                            {% for capcolor in capcolors %}
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="capcolor" value="{{ capcolor.pk }}" {% if capcolor in order.o_capcolor.all %}checked{% endif %}> {{ capcolor.cc_color }}
                                </label>
                            {% endfor %}
                        </span>
                    </div>
{#                    <div class="row">#}
{#                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">#}
{#                            <span class="input-group-addon" id="color-title">#}
{#                                <span>颜色</span>#}
{#                            </span>#}
{#                        </div>#}
{#                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" id="color-content">#}
{#                            {% for capcolor in capcolors %}#}
{#                                <label class="checkbox-inline">#}
{#                                    <input type="checkbox" name="capcolor" value="{{ capcolor.pk }}"> {{ capcolor.cc_color }}#}
{#                                </label>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    </div>#}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>数量</span>
                        </span>
                        <input type="number" id="o_count" name="o_count" {% if order.o_count %}placeholder="{{ order.o_count }}"{% endif %} class="form-control">
                    </div>
                </div>
            </div>
            <div class="ten_space"></div>
            <div class="ten_space"></div>
            <div class="ten_space"></div>

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 o-info">
                     <div class="o-info-title-img">
                        <b>图片</b>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <input type="file" id="o_image" name="o_image" class="hide">
                            {% if order.o_image %}
                                <input type="text" id="o_img" name="o_img" value="/media/{{ order.o_image }}" class="hide">
                            {% endif %}
                            <div class="ten_space"></div>
                            <div id="order-image">
                                {% if order.o_image %}
                                    <img src="/media/{{ order.o_image }}">
                                {% else %}
                                    <b>请添加图片</b>
                                {% endif %}
                            </div>
                            <div class="ten_space"></div>
                            <div id="image-button">
                                <a class="btn btn-default" onclick="order_image()">添加图片</a>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <a class="a_black" onclick="upload_file()">点击上传文件</a>
                        </span>
                        <input type="file" id="o_file" name="o_file" class="hide">
                        <input type="text" id="upload-file" class="form-control" {% if order.o_file %}placeholder="{{ order.o_file | filename }}"{% endif %} disabled>
                    </div>
                    <div class="ten_space"></div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 o-info">
                    <div class="o-info-title">
                        <b>产品信息</b>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="ten_space"></div>
                            <div class="ten_space"></div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>帽型</span>
                                </span>
                                <select class="form-control" id="captype" name="captype">
                                    {% if order.o_captype %}
                                        <option selected disabled>{{ order.o_captype.ct_type }}</option>
                                    {% else %}
                                        <option selected disabled>请选择帽型</option>
                                    {% endif %}
                                    {% for captype in captypes %}
                                        <option value="{{ captype.pk }}">{{ captype.ct_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="ten_space"></div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>主面料</span>
                                </span>
                                <input type="text" id="o_main_fabric" name="o_main_fabric" {% if order.o_main_fabric %}placeholder="{{ order.o_main_fabric }}"{% endif %} class="form-control">
                            </div>
                            <div class="ten_space"></div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>绣印花</span>
                                </span>
                                <select class="form-control" id="embroidererprint" name="embroidererprint">
                                    {% if order.o_embroiderorprint %}
                                        <option selected disabled>{{ order.o_embroiderorprint.eop_type }}</option>
                                    {% else %}
                                        <option selected disabled>请选择帽型</option>
                                    {% endif %}
                                    {% for embroiderorprint in embroiderorprints %}
                                        <option value="{{ embroiderorprint.pk }}">{{ embroiderorprint.eop_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="ten_space"></div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>帽眉</span>
                                </span>
                                <select class="form-control" id="capeyebrow" name="capeyebrow">
                                    {% if order.o_capeyebrow %}
                                        <option selected disabled>{{ order.o_capeyebrow.ce_type }}</option>
                                    {% else %}
                                        <option selected disabled>请选择帽型</option>
                                    {% endif %}
                                    {% for capeyebrow in capeyebrows %}
                                        <option value="{{ capeyebrow.pk }}">{{ capeyebrow.ce_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="ten_space"></div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>版号</span>
                                </span>
                                <select class="form-control" id="versionnumber" name="versionnumber">
                                    {% if order.o_versionnumber %}
                                        <option selected disabled>{{ order.o_versionnumber.vn_version }}</option>
                                    {% else %}
                                        <option selected disabled>请选择帽型</option>
                                    {% endif %}
                                    {% for versionnumber in versionnumbers %}
                                        <option value="{{ versionnumber.pk }}">{{ versionnumber.vn_version }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="ten_space"></div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>后扣</span>
                                </span>
                                <select class="form-control" id="afterdeduction" name="afterdeduction">
                                    {% if order.o_afterdeduction %}
                                        <option selected disabled>{{ order.o_afterdeduction.ad_type }}</option>
                                    {% else %}
                                        <option selected disabled>请选择帽型</option>
                                    {% endif %}
                                    {% for afterdeduction in afterdeductions %}
                                        <option value="{{ afterdeduction.pk }}">{{ afterdeduction.ad_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="ten_space"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 o-info">
                    <div class="o-info-title">
                        <b>大货信息</b>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="ten_space"></div>
                            <div class="ten_space"></div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>大货单价</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="o_ps_price" name="o_ps_price" {% if order.o_ps_price %}placeholder="{{ order.o_ps_price }}"{% endif %} class="form-control">
                            </div>
                            <div class="ten_space"></div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>美元汇率</span>
                                </span>
                                <input type="text" id="o_dollar_exchange_rate" name="o_dollar_exchange_rate" {% if order.o_dollar_exchange_rate %}placeholder="{{ order.o_dollar_exchange_rate }}"{% endif %}" class="form-control">
                            </div>
                            <div class="ten_space"></div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>美元单价</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_dollar_type }}</span>
                                </span>
                                <input type="text" id="o_dollar_price" name="o_dollar_price" {% if order.o_dollar_price %}placeholder="{{ order.o_dollar_price }}"{% endif %} class="form-control">
                            </div>
                            <div class="ten_space"></div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>大货数量</span>
                                </span>
                                <input type="number" id="o_ps_amount" name="o_ps_amount" {% if order.o_ps_amount %}placeholder="{{ order.o_ps_amount }}"{% endif %} class="form-control">
                            </div>
                            <div class="ten_space"></div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>大货总金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_dollar_type }}</span>
                                </span>
                                <input type="text" id="o_ps_dollar_total_price" name="o_ps_dollar_total_price" {% if order.o_ps_dollar_total_price %}placeholder="{{ order.o_ps_dollar_total_price }}"{% endif %} class="form-control">
                            </div>
                            <div class="ten_space"></div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>交货期</span>
                                </span>
                                <input type="text" id="o_delivery_date" name="o_delivery_date" {% if order.o_delivery_date %}placeholder="{{ order.o_delivery_date }}"{% endif %} class="form-control form_datetime" autocomplete="off">
                            </div>
                            <div class="ten_space"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <input type="submit" class="btn btn-default" value="提交订单">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    {% if order.o_pp_all_end %}
                        {% if order.o_productionschedule %}
                            {% if order.o_productionschedule.ps_end == False %}
                                <a href="{% url 'ps:psedit' %}?pk={{ order.pk }}" class="btn btn-default">修改大货</a>
                                <a href="{% url 'ps:endps' %}?pk={{ order.pk }}" class="btn btn-default">结束大货</a>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'ps:psadd' %}?pk={{ order.pk }}" class="btn btn-default">打样已完成，请添加大货</a>
                        {% endif %}
                    {% else %}
                        {% if proofingprogress %}
                            {% if proofingprogresses_len < 3 %}
                                {% if proofingprogress.pp_end %}
                                    <a href="{% url 'pp:ppadd' %}?pk={{ order.pk }}" class="btn btn-default">添加打样</a>
                                    <a href="{% url 'pp:endallpp' %}?pk={{ order.pk }}" class="btn btn-default">结束打样</a>
                                {% endif %}
                            {% else %}
                                {% if proofingprogress.pp_end %}
                                    <a href="{% url 'pp:endallpp' %}?pk={{ order.pk }}" class="btn btn-default">结束打样</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <a href="{% url 'pp:ppadd' %}?pk={{ order.pk }}" class="btn btn-default">添加打样</a>
                        {% endif %}
                        {% if proofingprogresses_len > 0 %}
                            {% if order.o_modifyopinion %}
                                <a href="{% url 'pp:moedit' %}?pk={{ order.pk }}&mo_pk={{ order.o_modifyopinion.pk }}" class="btn btn-default">打样意见修改</a>
                            {% else %}
                                <a href="{% url 'pp:moadd' %}?pk={{ order.pk }}" class="btn btn-default">打样意见添加</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {% if order.o_quotation %}
                        <a href="{% url 'q:qedit' %}?pk={{ order.pk }}" class="btn btn-default">报价单修改</a>
                    {% else %}
                        <a href="{% url 'q:qadd' %}?pk={{ order.pk }}" class="btn btn-default">报价单添加</a>
                    {% endif %}
                    {% if order.o_accountingdocuments %}
                        <a href="{% url 'ad:adedit' %}?pk={{ order.pk }}" class="btn btn-default">核算单修改</a>
                    {% else %}
                        <a href="{% url 'ad:adadd' %}?pk={{ order.pk }}" class="btn btn-default">核算单添加</a>
                    {% endif %}
                </div>
            </div>
            <div class="ten_space"></div>

            {% ifequal proofingprogresses_len 0 %}
            {% else %}
                <table class="table table-striped">
                    <tr>
                        <th>打样单</th>
                        <th>样品单号</th>
                        <th>ERP单号</th>
                        <th>接单时间</th>
                        <th>交货日期</th>
                        <th>完成日期</th>
                        <th>操作</th>
                    </tr>
                    {% for proofingprogress in order.o_proofingprogress.all %}
                        <tr>
                            <td>第{{ forloop.counter }}次打样</td>
                            <td>
                                {% if proofingprogress.pp_number %}
                                    {{ proofingprogress.pp_number }}
                                {% endif %}
                            </td>
                            <td>
                                {% if proofingprogress.pp_erp_number %}
                                    {{ proofingprogress.pp_erp_number }}
                                {% endif %}
                            </td>
                            <td>
                                {% if proofingprogress.pp_date %}
                                    {{ proofingprogress.pp_date }}
                                {% endif %}
                            </td>
                            <td>
                                {% if proofingprogress.pp_delivery_date %}
                                    {{ proofingprogress.pp_delivery_date }}
                                {% endif %}
                            </td>
                            <td>
                                {% if proofingprogress.pp_end_date %}
                                    {{ proofingprogress.pp_end_date }}
                                {% endif %}
                            </td>
                            <td>
                                {% if proofingprogress.pp_end %}
                                    <b>已结束</b>
                                {% else %}
                                    <a href="{% url 'pp:ppedit' %}?pk={{ order.pk }}&pp_pk={{ proofingprogress.pk }}">编辑</a>
                                    /
                                    <a href="{% url 'pp:endpp' %}?pp_pk={{ proofingprogress.pk }}">结束本次打样</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="ten_space"></div>
            {% endifequal %}

            {% if order.o_modifyopinion %}
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="input-group mo-textarea-h">
                            <span class="input-group-addon">
                                <span>客人反馈信息</span>
                            </span>
                            <textarea id="mo_customer_info" name="mo_customer_info" placeholder="{{ order.o_modifyopinion.mo_customer_info }}" class="form-control" style="height: 150px" disabled></textarea>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="input-group mo-textarea-h">
                            <span class="input-group-addon">
                                <span>工厂修改信息</span>
                            </span>
                            <textarea id="mo_factory_info" name="mo_factory_info" placeholder="{{ order.o_modifyopinion.mo_factory_info }}" class="form-control" style="height: 150px" disabled></textarea>
                        </div>
                    </div>
                </div>
                <div class="ten_space"></div>
            {% endif %}

            {% if order.o_productionschedule %}
                <table class="table table-striped">
                    <tr>
                        <th colspan="5">大货单（{{ order.o_price_type }}）</th>
                    </tr>
                    <tr>
                        <th>大货单号</th>
                        <th>大货交期</th>
                        <th>生产车间</th>
                        <th>大货确认时间</th>
                        <th>收款时间</th>
                    </tr>
                    <tr>
                        <td>
                            {% if order.o_productionschedule.ps_number %}
                                {{ order.o_productionschedule.ps_number }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_productionschedule.ps_date %}
                                {{ order.o_productionschedule.ps_date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_productionschedule.ps_workshop %}
                                {{ order.o_productionschedule.ps_workshop.pw_workshop }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_productionschedule.ps_confirm_date %}
                                {{ order.o_productionschedule.ps_confirm_date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_productionschedule.ps_gathering_date %}
                                {{ order.o_productionschedule.ps_gathering_date }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <div class="ten_space"></div>
            {% endif %}

            {% if order.o_quotation %}
                <table class="table table-striped">
                    <tr>
                        <th colspan="3">报价单（{{ order.o_price_type }}）</th>
                    </tr>
                    <tr>
                        <th>大货单价</th>
                        <th>浮动率</th>
                        <th>最终报价</th>
                    </tr>
                    <tr>
                        <td>
                            {% if order.o_quotation.q_offer %}
                                {{ order.o_quotation.q_offer }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_quotation.q_floating_rate %}
                                {{ order.o_quotation.q_floating_rate }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_quotation.q_end_offer %}
                                {{ order.o_quotation.q_end_offer }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <div class="ten_space"></div>
            {% endif %}

            {% if order.o_accountingdocuments %}
                <table class="table table-striped">
                    <tr>
                        <th colspan="7">报价单（{{ order.o_price_type }}）</th>
                    </tr>
                    <tr>
                        <th>大货总金额</th>
                        <th>实际成本</th>
                        <th>利润总金额</th>
                        <th>面辅料总金额</th>
                        <th>工缴金额</th>
                        <th>绣印花金额</th>
                        <th>包装船务金额</th>
                    </tr>
                    <tr>
                        <td>
                            {% if order.o_accountingdocuments.ad_ps_dollar_total_price %}
                                {{ order.o_accountingdocuments.ad_ps_dollar_total_price }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_accountingdocuments.ad_actual_cost %}
                                {{ order.o_accountingdocuments.ad_actual_cost }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_accountingdocuments.ad_total_profit %}
                                {{ order.o_accountingdocuments.ad_total_profit }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_accountingdocuments.ad_total_amount_materials %}
                                {{ order.o_accountingdocuments.ad_total_amount_materials }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_accountingdocuments.ad_total_amount_labor_payment %}
                                {{ order.o_accountingdocuments.ad_total_amount_labor_payment }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_accountingdocuments.ad_total_amount_embroide_print %}
                                {{ order.o_accountingdocuments.ad_total_amount_embroide_print }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_accountingdocuments.ad_total_amount_packaging_shipping %}
                                {{ order.o_accountingdocuments.ad_total_amount_packaging_shipping }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <div class="ten_space"></div>
            {% endif %}
        </form>
    </div>
    <div class="one_space"></div>
{% endblock %}

{% block js%}
    <script src="/static/js/customer.js"></script>
    <script src="/static/js/order_image.js"></script>
{% endblock %}