{% extends "base.html"%}
{% block head %}
    <link rel="stylesheet" href="/static/css/order_information/orderlist.css">
{% endblock %}
{% block center %}
    <div class="center-screen">
        <div class="ten_space"></div>
        <form method="get" action="">
            <input type="hidden" name="st" id="search_type" value="sc"/>
            <div class="center-screen-in">
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <b>下单日期</b>
                    </div>
                </div>
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <input type="text" value="{{ order_date }}" name="od" id="order_date" placeholder="开始" readonly/>
                    </div>
                </div>
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <input type="text" value="{{ order_end_date }}" name="oed" id="order_end_date" placeholder="结束" readonly/>
                    </div>
                </div>
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <b>订单号</b>
                    </div>
                </div>
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <input type="text" value="{{ number }}" name="on" id="number"/>
                    </div>
                </div>
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <b>客人名</b>
                    </div>
                </div>
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <input type="text" value="{{ customername }}" name="cn" id="customername"/>
                    </div>
                </div>
            </div>
            <div class="center-screen-in">
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <a href="{% url 'order:orderlist' %}?pn=1">全部</a>
                    </div>
                </div>
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <a href="{% url 'order:orderlist' %}?pn={{ pagenow }}&st=pp">打样中</a>
                    </div>
                </div>
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <a href="{% url 'order:orderlist' %}?pn={{ pagenow }}&st=ps">大货中</a>
                    </div>
                </div>
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <a href="{% url 'order:orderlist' %}?pn={{ pagenow }}&st=cp">收款中</a>
                    </div>
                </div>
            </div>
            <div class="center-screen-in">
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <b>帽型</b>
                    </div>
                </div>
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <select name="cp" id="captype">
                            {% ifequal search_type "sc" %}
                                {% ifequal captype_pk 0 %}
                                    <option disabled selected>请选择帽型</option>
                                {% else %}
                                    <option value="{{ captype.pk }}" selected>{{ captype.ct_type }}</option>
                                {% endifequal %}
                            {% else %}
                                <option disabled selected>请选择帽型</option>
                            {% endifequal %}
                            {% for captype in captypes %}
                                <option value="{{ captype.pk }}">{{ captype.ct_type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <b>业务员</b>
                    </div>
                </div>
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <select name="up" id="user">
                            {% ifequal search_type "sc" %}
                                {% ifequal user_pk 0 %}
                                    <option disabled selected>请选择业务员</option>
                                {% else %}
                                    <option value="{{ user.pk }}" selected>{{ user.u_name }}</option>
                                {% endifequal %}
                            {% else %}
                                <option disabled selected>请选择业务员</option>
                            {% endifequal %}

                            {% for user in users %}
                                <option value="{{ user.pk }}">{{ user.u_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <b>生产车间</b>
                    </div>
                </div>
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-in">
                        <select name="pwp" id="pw_workshop">
                            {% ifequal search_type "sc" %}
                                {% ifequal pw_workshop_pk 0 %}
                                    <option disabled selected>请选择车间</option>
                                {% else %}
                                    <option value="{{ pw_workshop.pk }}" selected>{{ pw_workshop.pw_workshop }}</option>
                                {% endifequal %}
                            {% else %}
                                <option disabled selected>请选择车间</option>
                            {% endifequal %}

                            {% for productionworkshop in productionworkshops %}
                                <option value="{{ productionworkshop.pk }}">{{ productionworkshop.pw_workshop }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="center-screen-in-li">
                    <div class="center-screen-in-li-li-nb">
                        <input type="submit" class="btn btn-info" value="提交过滤">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="ten_space"></div>
    <div class="order-add">
        <div class="order-add-li">
            <a href="{% url 'order:orderadd' %}" class="btn btn-info">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                添加订单
            </a>
        </div>
    </div>
    <div class="ten_space"></div>
    <div class="center-order-list">
        <div class="ten_space"></div>
        <div class="ten_space"></div>
        <div class="center-order-list-in">
            {% ifequal order_len 0 %}
                <div class="center-order-list-in-none">
                    <b>当前暂无订单！<a href="{% url 'order:orderadd' %}">请添加</a></b>
                </div>
            {% else %}
                <table class="table table-striped">
                    <tr>
                        <th>图片</th>
                        <th>单号</th>
                        <th>业务员</th>
                        <th>大货交期</th>
                        <th>大货数量</th>
                        <th>大货单价</th>
                        <th>客人名</th>
                        <th>颜色</th>
                        <th>打样数量</th>
                        <th>打样时间</th>
                        <th>快递时间</th>
                        <th>大货下单时间</th>
                        <th>大货车间</th>
                        <th>到料时间</th>
                        <th>车缝时间</th>
                        <th>外运时间</th>
                        <th>收款时间</th>
                        <th>编辑</th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td>
                                <img src="/media/{{ order.o_image }}">
                            </td>
                            <td>
                                <a href="{% url 'order:orderdetail' %}?pk={{ order.pk }}">{{ order.o_number }}</a>
                            </td>
                            <td>{{ order.o_user.u_name }}</td>
                            <td>
                                {% if order.o_productinfo.pi_date%}
                                    {{ order.o_productinfo.pi_date }}
                                {% endif %}
                            </td>
                            <td>
                                {% if order.o_productinfo.pi_amount %}
                                    {{ order.o_productinfo.pi_amount }}
                                {% endif %}
                            </td>
                            <td>
                                {% if order.o_productinfo.pi_unit_price %}
                                    {{ order.o_productinfo.pi_price_type }}{{ order.o_productinfo.pi_unit_price }}
                                {% endif %}
                            </td>
                            <td>{{ order.o_customer.c_name }}</td>
                            <td>{% for capcolor in order.o_capcolor %}{{ capcolor.cc_color }}、{% endfor %}</td>
                            <td>{% if order.o_proofingprogress_number %}{{ order.o_proofingprogress_number }}{% endif %}</td>
                            <td>
                                {% if order.o_proofingprogress.pp_sample_order_date %}{{ order.o_proofingprogress.pp_sample_order_date }}{% endif %}
                            </td>
                            <td>
                                {% if order.o_proofingprogress.pp_sample_express_date %}{{ order.o_proofingprogress.pp_sample_express_date }}{% endif %}
                            </td>
                            <td>
                                {% if order.o_productionschedule.ps_order_date %}
                                    {{ order.o_productionschedule.ps_order_date }}
                                {% endif %}
                            </td>
                            <td>{{ order.o_productionschedule.ps_workshop.pw_workshop }}</td>
                            <td>
                                {% if order.o_productionschedule.ps_arrival_date %}
                                    {{ order.o_productionschedule.ps_arrival_date }}
                                {% endif %}
                            </td>
                            <td>
                                {% if order.o_productionschedule.ps_sewing_date %}
                                    {{ order.o_productionschedule.ps_sewing_date }}
                                {% endif %}
                            </td>
                            <td>
                                {% if order.o_productionschedule.ps_outward_transport_date %}
                                    {{ order.o_productionschedule.ps_outward_transport_date }}
                                {% endif %}
                            </td>
                            <td>
                                {% if order.o_productionschedule.ps_gathering_date %}
                                    {{ order.o_productionschedule.ps_gathering_date }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'order:orderedit' %}?pk={{ order.pk }}" type="button" class="btn btn-default">编辑</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endifequal %}
        </div>
    </div>
    {% ifequal order_len 0 %}
    {% else %}
        {% ifequal search_type "sc" %}
            <div class="center-page">
                {% ifequal orders 0 %}
                {% else %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if page.has_previous %}
                                <li>
                                    <a href="{% url 'order:orderlist' %}?pn={{ page.previous_page_number }}&st={{ search_type }}&od={{ order_date }}&oed={{ order_end_date }}&on={{ number }}&cn={{ customername }}&cp={{ captype_pk }}&up={{ user_pk }}&pwp={{ pw_workshop_pk }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for page_l in page_list %}
                                <li {% ifequal pagenow page_l %}class="active"{% endifequal %}><a href="{% url 'order:orderlist' %}?pn={{ page_l }}&st={{ search_type }}&od={{ order_date }}&oed={{ order_end_date }}&on={{ number }}&cn={{ customername }}&cp={{ captype_pk }}&up={{ user_pk }}&pwp={{ pw_workshop_pk }}">{{ page_l }}</a></li>
                            {% endfor %}
                            {% if page.has_next %}
                                <li>
                                    <a href="{% url 'order:orderlist' %}?pn={{ page.next_page_number }}&st={{ search_type }}&od={{ order_date }}&oed={{ order_end_date }}&on={{ number }}&cn={{ customername }}&cp={{ captype_pk }}&up={{ user_pk }}&pwp={{ pw_workshop_pk }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endifequal %}
            </div>
        {% else %}
            <div class="center-page">
                {% ifequal orders 0 %}
                {% else %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if page.has_previous %}
                                <li>
                                    <a href="{% url 'order:orderlist' %}?pn={{ page.previous_page_number }}&st={{ search_type }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for page_l in page_list %}
                                <li {% ifequal pagenow page_l %}class="active"{% endifequal %}><a href="{% url 'order:orderlist' %}?pn={{ page_l }}&st={{ search_type }}">{{ page_l }}</a></li>
                            {% endfor %}
                            {% if page.has_next %}
                                <li>
                                    <a href="{% url 'order:orderlist' %}?pn={{ page.next_page_number }}&st={{ search_type }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endifequal %}
            </div>
        {% endifequal %}
    {% endifequal %}
    <div class="one_space"></div>
{% endblock %}
{% block js%}
    <script src="/static/js/orderlist.js"></script>
{% endblock %}