{% extends "base.html"%}
{% block head %}
    <link rel="stylesheet" href="/static/css/order_information/orderlist.css">
{% endblock %}
{% block center %}
    <div class="center-screen">
        <div class="ten_space"></div>
        <div class="center-screen-in">
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <b>下单日期</b>
                </div>
            </div>
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <input type="text" class="form_datetime" name="order_date" id="order_date" readonly/>
                </div>
            </div>
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <input type="text" class="form_datetime" name="order_end_date" id="order_end_date" readonly/>
                </div>
            </div>
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <a href="{% url 'order:orderlist' %}?pn={{ pagenow }}&st=pp">打样中</a>
                </div>
            </div>
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <a href="{% url 'order:orderlist' %}?pn={{ pagenow }}&st=ps">大货中</a>
                </div>
            </div>
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <a href="{% url 'order:orderlist' %}?pn={{ pagenow }}&st=cp">收款中</a>
                </div>
            </div>
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <a href="{% url 'order:orderlist' %}?pn=1">全部</a>
                </div>
            </div>
            <span id="time-prompt"></span>
        </div>
        <div class="center-screen-in">
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <b>订单号</b>
                </div>
            </div>
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <input type="text"/>
                </div>
            </div>
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <b>客人名</b>
                </div>
            </div>
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <input type="text"/>
                </div>
            </div>
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <b>帽型</b>
                </div>
            </div>
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <input type="text"/>
                </div>
            </div>
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <b>业务员</b>
                </div>
            </div>
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <input type="text"/>
                </div>
            </div>
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <b>生产车间</b>
                </div>
            </div>
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <input type="text"/>
                </div>
            </div>
            <div class="center-screen-in-li">
                <div class="center-screen-in-li-in">
                    <input type="submit" class="btn btn-info" value="提交过滤">
                </div>
            </div>
        </div>
        <div class="ten_space"></div>
    </div>
    <div class="ten_space"></div>
    <div class="order-add">
{#        <div class="order-add-li">#}
{#            <a href="" class="btn btn-info">#}
{#                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>#}
{#                添加客人#}
{#            </a>#}
{#        </div>#}
{#        <div class="order-add-li">#}
{#            <a href="" class="btn btn-info">#}
{#                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>#}
{#                添加帽型#}
{#            </a>#}
{#        </div>#}
{#        <div class="order-add-li">#}
{#            <a href="" class="btn btn-info">#}
{#                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>#}
{#                添加业务员#}
{#            </a>#}
{#        </div>#}
{#        <div class="order-add-li">#}
{#            <a href="" class="btn btn-info">#}
{#                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>#}
{#                添加颜色#}
{#            </a>#}
{#        </div>#}
{#        <div class="order-add-li">#}
{#            <a href="" class="btn btn-info">#}
{#                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>#}
{#                添加帽眉#}
{#            </a>#}
{#        </div>#}
{#        <div class="order-add-li">#}
{#            <a href="" class="btn btn-info">#}
{#                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>#}
{#                添加版号#}
{#            </a>#}
{#        </div>#}
{#        <div class="order-add-li">#}
{#            <a href="" class="btn btn-info">#}
{#                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>#}
{#                添加后扣#}
{#            </a>#}
{#        </div>#}
{#        <div class="order-add-li">#}
{#            <a href="" class="btn btn-info">#}
{#                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>#}
{#                添加车间#}
{#            </a>#}
{#        </div>#}
        <div class="order-add-li">
            <a href="{% url 'order:orderadd' %}" class="btn btn-info">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                添加订单
            </a>
        </div>
    </div>
    <div class="ten_space"></div>
    <div class="center-order-list">
        <div class="ten_space"></div>
        <div class="ten_space"></div>
        <div class="center-order-list-in">
            <table class="table table-bordered">
                <tr>
                    <td>ID</td>
                    <td>单号</td>
                    <td>业务员</td>
                    <td>大货交期</td>
                    <td>大货数量</td>
                    <td>大货金额</td>
                    <td>客人名</td>
                    <td>颜色</td>
                    <td>打样时间</td>
                    <td>快递时间</td>
                    <td>大货下单时间</td>
                    <td>大货车间</td>
                    <td>到料时间</td>
                    <td>车缝时间</td>
                    <td>外运时间</td>
                    <td>收款时间</td>
                    <td>编辑</td>
                </tr>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.pk }}</td>
                        <td>
                            <a href="{% url 'order:orderdetail' %}?pk={{ order.pk }}">{{ order.o_number }}</a>
                        </td>
                        <td>{{ order.o_user.u_name }}</td>
                        <td>
                            {% if order.o_productinfo.pi_date%}
                                {{ order.o_productinfo.pi_date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_productinfo.pi_amount %}
                                {{ order.o_productinfo.pi_amount }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_productinfo.pi_unit_price %}
                                {{ order.o_productinfo.pi_price_type }}{{ order.o_productinfo.pi_unit_price }}
                            {% endif %}
                        </td>
                        <td>{{ order.o_customer.c_name }}</td>
                        <td>{{ order.o_capcolor.cc_color }}</td>
                        <td>
                            {% if order.o_proofingprogress.pp_sample_arrival_date %}
                                {{ order.o_proofingprogress.pp_sample_arrival_date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_proofingprogress.pp_sample_express_date %}
                                {{ order.o_proofingprogress.pp_sample_express_date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_productionschedule.ps_order_date %}
                                {{ order.o_productionschedule.ps_order_date }}
                            {% endif %}
                        </td>
                        <td>{{ order.o_productionschedule.ps_workshop.pw_workshop }}</td>
                        <td>
                            {% if order.o_productionschedule.ps_arrival_date %}
                                {{ order.o_productionschedule.ps_arrival_date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_productionschedule.ps_sewing_date %}
                                {{ order.o_productionschedule.ps_sewing_date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_productionschedule.ps_outward_transport_date %}
                                {{ order.o_productionschedule.ps_outward_transport_date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if order.o_productionschedule.ps_gathering_date %}
                                {{ order.o_productionschedule.ps_gathering_date }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'order:orderedit' %}?pk={{ order.pk }}" type="button" class="btn btn-default">编辑</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="center-page">
        {% ifequal orders 0 %}
        {% else %}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page.has_previous %}
                        <li>
                            <a href="{% url 'order:orderlist' %}?pn={{ page.previous_page_number }}&st={{ search_type }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for page_l in page_list %}
                        <li {% ifequal pagenow page_l %}class="active"{% endifequal %}><a href="{% url 'order:orderlist' %}?pn={{ page_l }}&st={{ search_type }}">{{ page_l }}</a></li>
                    {% endfor %}
                    {% if page.has_next %}
                        <li>
                            <a href="{% url 'order:orderlist' %}?pn={{ page.next_page_number }}&st={{ search_type }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endifequal %}
    </div>
    <div class="one_space"></div>
{% endblock %}
{% block js%}
    <script src="/static/js/orderlist.js"></script>
{% endblock %}