<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ab</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header" style="width: 1000px;min-height: 50px;margin: 0 auto;text-align: center;line-height: 50px;font-size: 25px;">
        <b>打样编辑</b>
    </div>
    <div class="center" style="width: 1000px;min-height: 50px;margin: 0 auto;">
        <form method="post" action="">
            <input type="hidden" name="a_pk" value="{{ a_pk }}">
            <input type="hidden" name="pk" value="{{ b.pk }}">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            c
                        </span>
                        <input type="text" name="c" id="c" value="{{ b.c }}" class="form-control" aria-label="...">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            d
                        </span>
                        <input type="text" name="d" id="d" value="{{ b.d }}" class="form-control" aria-label="...">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            例子
                        </span>
                        <input type="text" class="form-control" aria-label="...">
                    </div>
                </div>
            </div>
            <div style="width: 100%;height: 10px;clear: both;"></div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            例子
                        </span>
                        <input type="text" class="form-control" aria-label="...">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            例子
                        </span>
                        <input type="text" class="form-control" aria-label="...">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            例子
                        </span>
                        <input type="text" class="form-control" aria-label="...">
                    </div>
                </div>
            </div>
            <div style="width: 100%;height: 10px;clear: both;"></div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="input-group">
                        <span class="input-group-addon">
                            例子
                        </span>
                        <input type="text" class="form-control" aria-label="...">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            例子
                        </span>
                        <input type="text" class="form-control" aria-label="...">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            例子
                        </span>
                        <input type="text" class="form-control" aria-label="...">
                    </div>
                </div>
            </div>
            <div style="width: 100%;height: 10px;clear: both;"></div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input class="btn btn-default" type="submit" value="保存打样">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <a class="btn btn-default" href="{% url 'demo:be' %}?pk={{ b.pk }}&a_pk={{ a_pk }}" role="button">结束本次打样</a>
                </div>
            </div>
        </form>
    </div>
    <div class="bottom" style="width: 1000px;min-height: 50px;margin: 0 auto;"></div>
</body>
</html>