{% extends "base.html"%}
{% block head %}
    <link rel="stylesheet" href="/static/css/order.css" />
{% endblock %}

{% block center %}
    <div class="center-in">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">{{ title }}</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'order:orderedit' %}?pk={{ order.pk }}">订单编辑</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
{#        <div class="row">#}
{#            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">#}
{#                <a href="{% url 'order:orderedit' %}?pk={{ order.pk }}" class="btn btn-default">订单编辑</a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="ten_space"></div>#}
        <form action="" method="post" enctype="multipart/form-data">
            <input type="text" name="pk" id="pk" value="{{ order.pk }}" hidden>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>大货单号</span>
                        </span>
                        <input type="text" id="ps_number" name="ps_number"  class="form-control">
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>大货交期</span>
                        </span>
                        <input type="text" id="ps_date" name="ps_date" class="form-control form_datetime" autocomplete="off">
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>生产车间</span>
                        </span>
                        <select class="form-control" id="workshop" name="workshop">
                            <option selected disabled>请选择生产车间</option>
                            {% for productionworkshop in productionworkshops %}
                                <option value="{{ productionworkshop.pk }}">{{ productionworkshop.pw_workshop }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="ten_space"></div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="ten_space"></div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>大货确认时间</span>
                                </span>
                                <input type="text" id="ps_confirm_date" name="ps_confirm_date" class="form-control form_datetime" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>面料到货</span>
                                </span>
                                <input type="text" id="ps_arrival_date" name="ps_arrival_date" class="form-control form_datetime" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>裁剪时间</span>
                                </span>
                                <input type="text" id="ps_tailor_date" name="ps_tailor_date" class="form-control form_datetime" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="ten_space"></div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>绣花时间</span>
                                </span>
                                <input type="text" id="ps_embroider_date" name="ps_embroider_date" class="form-control form_datetime" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>印花时间</span>
                                </span>
                                <input type="text" id="ps_print_date" name="ps_print_date" class="form-control form_datetime" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>水洗时间</span>
                                </span>
                                <input type="text" id="ps_water_washing_date" name="ps_water_washing_date" class="form-control form_datetime" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="ten_space"></div>

                     <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>车缝时间</span>
                                </span>
                                <input type="text" id="ps_sewing_date" name="ps_sewing_date" class="form-control form_datetime" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>辅料到货</span>
                                </span>
                                <input type="text" id="ps_ingredients_fabric_arrival_date" name="ps_ingredients_fabric_arrival_date" class="form-control form_datetime" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>吊牌到货</span>
                                </span>
                                <input type="text" id="ps_tags_arrival_date" name="ps_tags_arrival_date" class="form-control form_datetime" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="ten_space"></div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>整烫包装</span>
                                </span>
                                <input type="text" id="ps_iron_package_date" name="ps_iron_package_date" class="form-control form_datetime" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>外运时间</span>
                                </span>
                                <input type="text" id="ps_outward_transport_date" name="ps_outward_transport_date" class="form-control form_datetime" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="ten_space"></div>

                     <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>收款时间</span>
                                </span>
                                <input type="text" id="ps_gathering_date" name="ps_gathering_date" class="form-control form_datetime" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>收款金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ps_gathering_price" name="ps_gathering_price" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>合同金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ps_contract_balance" name="ps_contract_balance" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="ten_space"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <input type="submit" class="btn btn-default" value="添加大货单">
                </div>
            </div>
        </form>
    </div>
    <div class="one_space"></div>
{% endblock %}

{% block js%}
{% endblock %}