{% extends "base.html"%}
{% block head %}
    <link rel="stylesheet" href="/static/css/order.css" />
    <link rel="stylesheet" href="/static/css/accounting_documents.css" />
{% endblock %}

{% block header %}
    <div class="header-in">
        <b>{{ title }}</b>
    </div>
{% endblock %}

{% block center %}
    <div class="center-in">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <a href="{% url 'order:orderedit' %}?pk={{ order.pk }}" class="btn btn-default">订单编辑</a>
            </div>
        </div>
        <div class="ten_space"></div>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="text" name="pk" id="pk" value="{{ order.pk }}" hidden>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>大货总金额</span>
                        </span>
                        <span class="input-group-addon">
                            <span>{{ order.o_price_type }}</span>
                        </span>
                        <input type="text" id="ad_ps_dollar_total_price" name="ad_ps_dollar_total_price" {% if order.o_accountingdocuments.ad_ps_dollar_total_price %}value="{{ order.o_accountingdocuments.ad_ps_dollar_total_price }}"{% endif %} class="form-control" readonly>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>实际成本</span>
                        </span>
                        <span class="input-group-addon">
                            <span>{{ order.o_price_type }}</span>
                        </span>
                        <input type="text" id="ad_actual_cost" name="ad_actual_cost" {% if order.o_accountingdocuments.ad_actual_cost %}value="{{ order.o_accountingdocuments.ad_actual_cost }}"{% endif %} class="form-control" readonly>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>利润总金额</span>
                        </span>
                        <span class="input-group-addon">
                            <span>{{ order.o_price_type }}</span>
                        </span>
                        <input type="text" id="ad_total_profit" name="ad_total_profit" {% if order.o_accountingdocuments.ad_total_profit %}value="{{ order.o_accountingdocuments.ad_total_profit }}"{% endif %} class="form-control" readonly>
                    </div>
                </div>
            </div>
            <div class="ten_space"></div>

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>面辅料总金额</span>
                        </span>
                        <span class="input-group-addon">
                            <span>{{ order.o_price_type }}</span>
                        </span>
                        <input type="text" id="ad_total_amount_materials" name="ad_total_amount_materials" {% if order.o_accountingdocuments.ad_total_amount_materials %}value="{{ order.o_accountingdocuments.ad_total_amount_materials }}"{% endif %} class="form-control" readonly>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>工缴金额</span>
                        </span>
                        <span class="input-group-addon">
                            <span>{{ order.o_price_type }}</span>
                        </span>
                        <input type="text" id="ad_total_amount_labor_payment" name="ad_total_amount_labor_payment" {% if order.o_accountingdocuments.ad_total_amount_labor_payment %}value="{{ order.o_accountingdocuments.ad_total_amount_labor_payment }}"{% endif %} class="form-control" readonly>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>绣印花金额</span>
                        </span>
                        <span class="input-group-addon">
                            <span>{{ order.o_price_type }}</span>
                        </span>
                        <input type="text" id="ad_total_amount_embroide_print" name="ad_total_amount_embroide_print" {% if order.o_accountingdocuments.ad_total_amount_embroide_print %}value="{{ order.o_accountingdocuments.ad_total_amount_embroide_print }}"{% endif %} class="form-control" readonly>
                    </div>
                </div>
            </div>
            <div class="ten_space"></div>

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span>包装船务金额</span>
                        </span>
                        <span class="input-group-addon">
                            <span>{{ order.o_price_type }}</span>
                        </span>
                        <input type="text" id="ad_total_amount_packaging_shipping" name="ad_total_amount_packaging_shipping" {% if order.o_accountingdocuments.ad_total_amount_packaging_shipping %}value="{{ order.o_accountingdocuments.ad_total_amount_packaging_shipping }}"{% endif %} class="form-control" readonly>
                    </div>
                </div>
            </div>
            <div class="ten_space"></div>
            <div class="ten_space"></div>

            <div class="panel panel-default o-ad">
                <div class="o-ad-title">
                    <b>实际面辅料</b>
                </div>
                <div class="panel-body">
                    <div class="ten_space"></div>
                    <div class="ten_space"></div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>面料金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ad_total_amount_fabric" name="ad_total_amount_fabric" {% if order.o_accountingdocuments.ad_total_amount_fabric %}value="{{ order.o_accountingdocuments.ad_total_amount_fabric }}"{% endif %} class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>面料快递金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ad_total_amount_fabric_express" name="ad_total_amount_fabric_express" {% if order.o_accountingdocuments.ad_total_amount_fabric_express %}value="{{ order.o_accountingdocuments.ad_total_amount_fabric_express }}"{% endif %} class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>粘合金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ad_total_amount_bonding" name="ad_total_amount_bonding" {% if order.o_accountingdocuments.ad_total_amount_bonding %}value="{{ order.o_accountingdocuments.ad_total_amount_bonding }}"{% endif %} class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="ten_space"></div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>辅料金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ad_total_amount_ingredients" name="ad_total_amount_ingredients" {% if order.o_accountingdocuments.ad_total_amount_ingredients %}value="{{ order.o_accountingdocuments.ad_total_amount_ingredients }}"{% endif %} class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>辅料快递金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ad_total_amount_ingredients_express" name="ad_total_amount_ingredients_express" {% if order.o_accountingdocuments.ad_total_amount_ingredients_express %}value="{{ order.o_accountingdocuments.ad_total_amount_ingredients_express }}"{% endif %} class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>其他金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ad_total_amount_other" name="ad_total_amount_other" {% if order.o_accountingdocuments.ad_total_amount_other %}value="{{ order.o_accountingdocuments.ad_total_amount_other }}"{% endif %} class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ten_space"></div>

            <div class="panel panel-default o-ad">
                <div class="o-ad-title">
                    <b>实际工缴</b>
                </div>
                <div class="panel-body">
                    <div class="ten_space"></div>
                    <div class="ten_space"></div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>裁剪总金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ad_total_amount_tailor" name="ad_total_amount_tailor" {% if order.o_accountingdocuments.ad_total_amount_tailor %}value="{{ order.o_accountingdocuments.ad_total_amount_tailor }}"{% endif %} class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="ten_space"></div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>裁剪开始时间</span>
                                </span>
                                <input type="text" id="ad_tailor_start_date" name="ad_tailor_start_date" {% if order.o_accountingdocuments.ad_tailor_start_date %}value="{{ order.o_accountingdocuments.ad_tailor_start_date }}"{% endif %} class="form-control form_datetime_hi" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>裁剪结束时间</span>
                                </span>
                                <input type="text" id="ad_tailor_end_date" name="ad_tailor_end_date" {% if order.o_accountingdocuments.ad_tailor_end_date %}value="{{ order.o_accountingdocuments.ad_tailor_end_date }}"{% endif %} class="form-control form_datetime_hi" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>裁剪人数</span>
                                </span>
                                <input type="number" id="ad_tailor_number_people" name="ad_tailor_number_people" {% if order.o_accountingdocuments.ad_tailor_number_people %}value="{{ order.o_accountingdocuments.ad_tailor_number_people }}"{% endif %} class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="ten_space"></div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>车缝总金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ad_total_amount_sewing" name="ad_total_amount_sewing" {% if order.o_accountingdocuments.ad_total_amount_sewing %}value="{{ order.o_accountingdocuments.ad_total_amount_sewing }}"{% endif %} class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="ten_space"></div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>车缝开始时间</span>
                                </span>
                                <input type="text" id="ad_sewing_start_date" name="ad_sewing_start_date" {% if order.o_accountingdocuments.ad_sewing_start_date %}value="{{ order.o_accountingdocuments.ad_sewing_start_date }}"{% endif %} class="form-control form_datetime_hi" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>车缝结束时间</span>
                                </span>
                                <input type="text" id="ad_sewing_end_date" name="ad_sewing_end_date" {% if order.o_accountingdocuments.ad_sewing_end_date %}value="{{ order.o_accountingdocuments.ad_sewing_end_date }}"{% endif %} class="form-control form_datetime_hi" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>车缝人数</span>
                                </span>
                                <input type="number" id="ad_sewing_number_people" name="ad_sewing_number_people" {% if order.o_accountingdocuments.ad_sewing_number_people %}value="{{ order.o_accountingdocuments.ad_sewing_number_people }}"{% endif %} class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="ten_space"></div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>整烫总金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ad_total_amount_iron" name="ad_total_amount_iron" {% if order.o_accountingdocuments.ad_total_amount_iron %}value="{{ order.o_accountingdocuments.ad_total_amount_iron }}"{% endif %} class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="ten_space"></div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>整烫开始时间</span>
                                </span>
                                <input type="text" id="ad_iron_start_date" name="ad_iron_start_date" {% if order.o_accountingdocuments.ad_iron_start_date %}value="{{ order.o_accountingdocuments.ad_iron_start_date }}"{% endif %} class="form-control form_datetime_hi" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>整烫结束时间</span>
                                </span>
                                <input type="text" id="ad_iron_end_date" name="ad_iron_end_date" {% if order.o_accountingdocuments.ad_iron_end_date %}value="{{ order.o_accountingdocuments.ad_iron_end_date }}"{% endif %} class="form-control form_datetime_hi" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>整烫人数</span>
                                </span>
                                <input type="number" id="ad_iron_number_people" name="ad_iron_number_people" {% if order.o_accountingdocuments.ad_iron_number_people %}value="{{ order.o_accountingdocuments.ad_iron_number_people }}"{% endif %} class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ten_space"></div>

            <div class="panel panel-default o-ad">
                <div class="o-ad-title">
                    <b>实际绣印花金额</b>
                </div>
                <div class="panel-body">
                    <div class="ten_space"></div>
                    <div class="ten_space"></div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>水洗金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ad_total_amount_water_washing" name="ad_total_amount_water_washing" {% if order.o_accountingdocuments.ad_total_amount_water_washing %}value="{{ order.o_accountingdocuments.ad_total_amount_water_washing }}"{% endif %} class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>绣花金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ad_total_amount_embroide" name="ad_total_amount_embroide" {% if order.o_accountingdocuments.ad_total_amount_embroide %}value="{{ order.o_accountingdocuments.ad_total_amount_embroide }}"{% endif %} class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>印花金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ad_total_amount_print" name="ad_total_amount_print" {% if order.o_accountingdocuments.ad_total_amount_print %}value="{{ order.o_accountingdocuments.ad_total_amount_print }}"{% endif %} class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ten_space"></div>

            <div class="panel panel-default o-ad">
                <div class="o-ad-title">
                    <b>实际包装/船务金额</b>
                </div>
                <div class="panel-body">
                    <div class="ten_space"></div>
                    <div class="ten_space"></div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>纸板金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ad_total_amount_paperboard" name="ad_total_amount_paperboard" {% if order.o_accountingdocuments.ad_total_amount_paperboard %}value="{{ order.o_accountingdocuments.ad_total_amount_paperboard }}"{% endif %} class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>物流金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ad_total_amount_physical_distribution" name="ad_total_amount_physical_distribution" {% if order.o_accountingdocuments.ad_total_amount_physical_distribution %}value="{{ order.o_accountingdocuments.ad_total_amount_physical_distribution }}"{% endif %} class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>进仓金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ad_total_amount_warehouse_entry" name="ad_total_amount_warehouse_entry" {% if order.o_accountingdocuments.ad_total_amount_warehouse_entry %}value="{{ order.o_accountingdocuments.ad_total_amount_warehouse_entry }}"{% endif %} class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="ten_space"></div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span>报关金额</span>
                                </span>
                                <span class="input-group-addon">
                                    <span>{{ order.o_price_type }}</span>
                                </span>
                                <input type="text" id="ad_total_amount_customs_declaration" name="ad_total_amount_customs_declaration" {% if order.o_accountingdocuments.ad_total_amount_customs_declaration %}value="{{ order.o_accountingdocuments.ad_total_amount_customs_declaration }}"{% endif %} class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <input type="submit" class="btn btn-default" value="修改核算单">
                </div>
            </div>
        </form>
    </div>
    <div class="one_space"></div>
{% endblock %}

{% block js%}
{% endblock %}